@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer utilities {
  .pos-center {
    @apply tw-absolute tw-top-1/2 tw-left-1/2 tw-transform tw--translate-x-1/2 tw--translate-y-1/2;
  }
}

@layer components {
  .ico {
    &-folders {
      &--16 {
        background: url("@/assets/icons/folders.svg") center no-repeat;
        width: 16px;
        height: 16px;
      }
    }
  }
}
