.q-btn {
  text-transform: initial;

  &.bg-secondary {
    color: var(--control-ghost) !important;
  }

  .q-icon {
    font-size: 18px;
    &.on-right {
      margin-left: auto;
    }
  }
}

.q-btn.disabled {
  background-color: var(--control-disabled) !important;
  color: var(--control-disabled-typo) !important;
  cursor: not-allowed;
}

.btn-hover:hover {
  transition: box-shadow ease 0.4s;
  box-shadow:
    0 1px 5px var(--shadow-color-1),
    0 2px 2px var(--shadow-color-2),
    0 3px 1px -2px var(--shadow-color-3);
}
