.q-btn-group {
  .q-btn-item {
    border-radius: 0;
    color: var(--control-ghost) !important;

    &:before {
      border-color: var(--bg-ghost);
    }

    &:first-child {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }

    &:last-child {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }

    &.text-primary {
      background: var(--control-disabled-bg) !important;
    }
  }
}
