.color-base {
  background: var(--base);
}

.color-essential {
  background: var(--essential);
}

.color-brand {
  background: var(--brand);
}

.color-primary {
  background: var(--primary);
}

.color-system {
  background: var(--system);
}

.color-normal {
  background: var(--normal);
}

.color-success {
  background: var(--success);
}

.color-caution {
  background: var(--caution);
}

.color-warning {
  background: var(--warning);
}

.color-alert {
  background: var(--alert);
}

.color-critical {
  background: var(--critical);
}

.color-bg-default {
  background: var(--bg-default);
}

.color-bg-secondary {
  background: var(--bg-secondary);
}

.color-bg-link {
  background: var(--bg-link);
}

.color-bg-brand {
  background: var(--bg-brand);
}

.color-bg-normal {
  background: var(--bg-normal);
}

.color-bg-system {
  background: var(--bg-system);
}

.color-bg-border-20 {
  background: var(--bg-border-20);
}

.color-bg-stripe {
  background: var(--bg-stripe);
}

.color-bg-ghost {
  background: var(--bg-ghost);
}

.color-bg-soft {
  background: var(--bg-soft);
}

.color-bg-soft-20 {
  background: var(--bg-soft-20);
}

.color-bg-border {
  background: var(--bg-border);
}

.color-bg-border-hover {
  background: var(--bg-border-hover);
}

.color-bg-tone {
  background: var(--bg-tone);
}

.color-bg-hover {
  background: var(--bg-hover);
}

.color-bg-success-20 {
  background: var(--bg-success-20);
}

.color-bg-success-30 {
  background: var(--bg-success-30);
}

.color-bg-caution-20 {
  background: var(--bg-caution-20);
}

.color-bg-caution-30 {
  background: var(--bg-caution-30);
}

.color-bg-warning-20 {
  background: var(--bg-warning-20);
}

.color-bg-warning-30 {
  background: var(--bg-warning-30);
}

.color-bg-alert-20 {
  background: var(--bg-alert-20);
}

.color-bg-alert-30 {
  background: var(--bg-alert-30);
}

.color-bg-critical-20 {
  background: var(--bg-critical-20);
}

.color-bg-critical-30 {
  background: var(--bg-critical-30);
}

.color-control-ghost {
  background: var(--control-ghost);
}

.color-control-ghost-bg {
  background: var(--control-ghost-bg) !important;
}

.color-control-primary-hover {
  background: var(--control-primary-hover);
}

.color-control-disabled {
  background: var(--control-disabled);
}

.color-control-disabled-bg {
  background: var(--control-disabled-bg);
}
.color-blue-grey-bg {
  background: var(--blue-grey-bg) !important;
}
