.text-base {
  color: var(--base);
}

.text-essential {
  color: var(--essential);
}

.text-brand {
  color: var(--brand);
}

.text-primary {
  color: var(--primary);
}

.text-system {
  color: var(--system);
}

.text-normal {
  color: var(--normal);
}

.text-success {
  color: var(--success);
}

.text-caution {
  color: var(--caution);
}

.text-warning {
  color: var(--warning);
}

.text-alert {
  color: var(--alert);
}

.text-critical {
  color: var(--critical);
}

.text-typo-primary {
  color: var(--typo-primary);
}

.text-typo-secondary {
  color: var(--typo-secondary);
}

.text-typo-ghost {
  color: var(--typo-ghost);
}

.text-typo-link-hover {
  color: var(--typo-link-hover);
}

.text-typo-link-minor {
  color: var(--typo-link-minor);
}

.text-typo-system {
  color: var(--typo-system);
}

.text-typo-placeholder {
  color: var(--typo-placeholder);
}

.text-typo-normal {
  color: var(--typo-normal);
}

.text-typo-success {
  color: var(--typo-success);
}

.text-typo-caution {
  color: var(--typo-caution);
}

.text-typo-warning {
  color: var(--typo-warning);
}

.text-typo-alert {
  color: var(--typo-alert);
}

.text-typo-critical {
  color: var(--typo-critical);
}

.text-control-ghost {
  color: var(--control-ghost);
}

.text-control-primary-hover {
  color: var(--control-primary-hover);
}

.text-control-disabled {
  color: var(--control-disabled);
}
